/* style.css */

label {
  width: 100pt;
  text-align: left;
}

input {
  width: 150pt;
  margin-top: 2pt;
}

.wholeForm {
  text-align: center;
}

.title {
  margin-bottom: 35pt;
}

.submitButton {
  color: white;
  background-color: blue;
  border-color: blue;
  border-radius: 5pt;
}

.logo {
  margin-bottom: 50px;
  margin-top: 60px;
}
