<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/static/assets/img/website_icon.png">
    {% include "react/head.html" %}
  </head>
  <body>
    <!-- <img src="/static/assets/img/explainer.png"/> -->
    <div class="image-container set-full-height" style="background-image: url('/static/assets/img/wizard-profile.jpg')">
    {% block content %}
      
    {% endblock content %}
    {% include "components/footer.html" %}
    </div>
    
    {% include "react/js.html" %}
    
  </body>
  {% include "react/js_add.html" %}
</html>