Webpack Plugin:
<pre>
  Error: html-webpack-plugin could not minify the generat  ed output.
  In production mode the html minifcation is enabled by d  efault.
  If you are not generating a valid html output please di  sable it manually.
  You can do so by adding the following setting to your H  tmlWebpackPlugin config:
  |
  |    minify: false
  |
  See https://github.com/jantimon/html-webpack-plugin#opt  ions for details.
  For parser dedicated bugs please create an issue here:
  https://danielruf.github.io/html-minifier-terser/
  Parse Error: <link rel="shortcut icon" href="/static/as  sets/img/website_icon.png"
  <link rel="stylesheet" type="text/css" href="https://fo  nts.googleapis.com/css?family=Roboto:300,400,500,700|Ro  boto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcd  n.com/font-awesome/latest/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/static/style.css" type="t  ext/css">
  <!-- CSS Files -->
  <link rel="stylesheet" href="https://netdna.bootstrapcd  n.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <script src="https://netdna.bootstrapcdn.com/bootst  rap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcd  n.com/bootstrap/5.0.0/css/bootstrap.min.css" integrity=  "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlS  AwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/static/assets/css/bootstrap.min.css" rel="  stylesheet" />
  <link href="/static/assets/css/material-bootstrap-wizar  d.css" rel="stylesheet" />
      <script src="/static/http://code.jquery.com/jquery-  1.11.0.min.js"></script>
  <!-- CSS Just for demo purpose, don't include it in you  r project -->
  <link href="/static/assets/css/demo.css" rel="styleshee  t" />
  <link href="/static/css/main.2c938020.chunk.css" rel="s  tylesheet">