/* counter 
------------------------------------------ */
#counter {
  width: 90%;
  color: black;
  text-align: center;
  margin: 18px auto 0;
}

#counter span {
  font: 62px/1em "montserrat-bold", sans-serif;
  display: block;
  padding: 0px 0 30px;
  min-width: 25%;
  float: left;
}

#counter span em {
  font: 11px/18px "montserrat-regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 3px;
  display: block;
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 900px) {
  #counter {
    width: 92%;
  }

  #counter span {
    font: 58px/1em "montserrat-bold", sans-serif;
  }
}

@media only screen and (max-width: 768px) {
  #counter {
    width: 100%;
  }

  #counter span {
    font: 52px/1em "montserrat-bold", sans-serif;
  }
}

@media only screen and (max-width: 600px) {
  #counter {
    margin-bottom: 24px;
  }

  #counter span {
    font: 48px/1em "montserrat-bold", sans-serif;
  }
}

@media only screen and (max-width: 500px) {
  #counter {
    margin-bottom: 12px;
  }

  #counter span {
    font: 37px/1em "montserrat-bold", sans-serif;
  }

  #counter span em {
    font: 9px/18px "montserrat-regular", sans-serif;
    letter-spacing: 1.5px;
  }
}

@media only screen and (max-width: 400px) {
  #counter span {
    font: 31px/1em "montserrat-bold", sans-serif;
  }

  #counter span em {
    font: 8px/18px "montserrat-regular", sans-serif;
    letter-spacing: 1px;
  }
}
